body {
	background-image: url('https://t4.ftcdn.net/jpg/06/60/20/79/360_F_660207926_04KsMhmS5TlEA1eR69R5Kj2T1GyGfv9k.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
}
.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.Login-container {
	background-color: darkgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 20px;
	width: 350px;
    text-align: center;
    margin-top:60px;
    margin-bottom: 60px;

}
.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    background-color: #0056b3;
}
.Register-container {
	background-color: darkgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 20px;
	width: 350px;
    text-align: center;
    margin-top:150px;
    margin-bottom: 230px;
}
.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.register-button:hover {
    background-color: #0056b3;
}
.private-container {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
